/* -------------------- Background Color -------------------- */
body {
  background-color: #F5EFE6;
}

#services,
#partners,
#contactUs {
  background-color: #E8DFCA;
}

/* -------------------- Google Fonts -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

/* -------------------- Navbar -------------------- */
nav {
  position: absolute;
  z-index: 3;
  transition: 0.5s all;
}

nav img {
  width: 5rem;
}

#save {
  margin-right: 0.25rem;
}

/* Large Breakpoint */
@media (max-width: 992px) {
  #save {
    margin-right: 0;
    margin-bottom: 0.25rem;
  }
}

/* -------------------- Saved Items / Cart Items -------------------- */
#savedItems,
#cartItems {
  display: none;
  background-color: #F5EFE6;
  position: absolute;
  z-index: 4;
  top: 6rem;
  right: 1rem;
  min-width: 30vw;
}

/* -------------------- Heading -------------------- */
#heading {
  /* margin-bottom: 25rem; */
  min-height: 90vh;
}

#heading video {
  position: absolute;
  z-index: 1;
  top: 0;
}

#overlay {
  background-color: rgba(255, 255, 255, 0.445);
  position: absolute;
  z-index: 2;
  top: 0;
}

#heading .container {
  position: relative;
  z-index: 3;
  top: 10rem;
}

/* X-Large Breakpoint */
@media (max-width: 1200px) {
  #heading .container {
    top: 13rem;
  }
}

/* Large Breakpoint */
@media (max-width: 992px) {
  #heading .container {
    top: 4rem;
  }

  #heading img {
    margin-bottom: 2rem;
  }

  #headingText {
    text-align: center;
  }
}

/* Medium Breakpoint */
@media (max-width: 768px) {
  #heading .container {
    top: 8rem;
  }
}

/* -------------------- Products -------------------- */
/* XX-Large Breakpoint */
@media (max-width: 1400px) {
  #products .cardBtn {
    display: block;
    margin-bottom: 0.25rem;
  }
}

/* -------------------- About Us -------------------- */
/* Large Breakpoint */
@media (max-width: 992px) {
  #aboutUs {
    text-align: center;
  }

  #aboutUs img {
    margin-bottom: 1rem;
  }
}

/* -------------------- Branches -------------------- */
#branches .container {
  width: 55%;
}

/* X-Large Breakpoint */
@media (max-width: 1200px) {
  #branches .container {
    width: 100%;
  }
}

/* Large Breakpoint */
@media (max-width: 992px) {
  #branches .branchText {
    text-align: center;
  }
}

/* -------------------- Footer -------------------- */
/* Medium Breakpoint */
@media (max-width: 768px) {
  footer {
    text-align: center;
    padding-bottom: 2rem;
  }

  footer .col-sm-6 {
    margin: 0.5rem 0;
  }
}

/* -------------------- Checkout -------------------- */
#paymentOptions img {
  height: 5rem;
}

#paymentOptions input[type=radio] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

input[type=radio]~div {
  display: inline-block;
  border: 3px solid transparent;
}

input[type=radio]:checked~div {
  border: 3px solid blue;
}